/* Dark Violet: #2D2640
 Grayish Blue: #95A9C6

- Very Dark Violet: #2B272F
- Dark Grayish Violet: #837D87
- Very Light Gray: #FAFAFA */
/* heading: font-family: 'DM Serif Display', serif; */
/* body : font-family: 'Karla', sans-serif; */

/*Intial css to structure doc.*/
* {
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
  margin: 0;
}
p {
  line-height: 1.8;
}
h1,
h2,
h3 {
  font-family: "DM Serif Display", serif;
}
.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 100%;
  width: 1200px;
}
.btn {
  border: 2px solid white;
  padding: 8px 16px;
  margin-top: 24px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.btn-nav {
  color: #2d2640;
  border: 2px solid #2d2640;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex > div {
  flex: 1;
}
.start {
  align-items: flex-start;
}
button.btn:hover {
  color: #2d2640;
  background-color: white;
}

/*Styling the navigation bar*/

nav.navbar button {
  display: none;
}
nav.navbar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
nav.navbar .flex div {
  align-items: flex-start;
  padding: 25px;
  padding-left: 0;
}

nav.navbar li {
  margin-left: 32px;
}
nav.navbar li a {
  text-decoration: none;
  display: inline-block;
  color: #837d87;
  letter-spacing: 0;
}
#violet-btn {
  color: #2d2640;
  margin-top: 0;
}
#violet-btn:hover {
  background-color: #2d2640;
  color: white;
}

/*styling the header section*/

header {
  background-color: #2d2640;
  color: white;
  padding: 50px 0;
  position: relative;
  margin-bottom: 200px;
}
header * {
  z-index: 1;
}
h1 {
  font-size: 4em;
  letter-spacing: 2px;
  line-height: 1;
  position: relative;
  margin: 0;
  padding-top: 56px;
}
header::after {
  content: "";
  background-image: url("./images/bg-pattern-intro-right-desktop.svg");
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  z-index: 1;
}
header::before {
  content: "";
  background-image: url("./images/bg-pattern-intro-left-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  bottom: -47%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
h1::before {
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 140px;
}
/*
 dont use before and after henceforth as u cant click on buttons 
 z- index is solution but use it only if there are 2 patterns else go for bg-img
 */
.main-img {
  margin-bottom: -200px;
  max-width: 100%;
  /* just to make img down if used margin top box size will increase and desired result isnt achived */
}
/*adding common section style*/

section h1::before {
  background-color: #95a9c6;
}
.margin-for-heading {
  margin-top: 90px;
}
.bg-dark-voilet {
  background-color: #2d2640;
  padding: 58px;
  color: white;
  margin: 90px auto;
  background-image: url("./images/bg-pattern-how-we-work-desktop.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 40% 100%; /*background-size: <x-axis> <y-axis>;*/
}

.bg-dark-voilet h2 {
  font-size: 3.5em;
  padding: 0;
  width: 53%;
}

/*styling the footer*/
footer {
  background-color: #fafafa;
  padding: 30px 0;
  background-image: url("./images/bg-pattern-footer-desktop.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 35% 54%;
}
ul.flex {
  justify-content: center;
}
footer h5 {
  text-transform: uppercase;
  color: #837d87;
}
footer ul.flex li {
  margin-left: 20px;
}
footer ul.flex li:not(:first-child) {
  margin-left: 16px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer li {
  margin-bottom: 10px;
}
footer li a {
  color: #2d2640;
  text-transform: uppercase;
  text-decoration: none;
}
footer li a:hover{
  text-decoration: underline #2d2640;
}
svg {
  fill: #837d88;
}
svg:hover {
  fill: black;
}
.social-btn {
  border-bottom: 1px solid #837d87;
}

/*Moblie styling */

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }
  .flex {
    flex-direction: column;
  }
  nav.navbar button {
    display: inline;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  nav.navbar {
    padding: 20px 0;
  }

  /*Moblie nav styling*/

  nav.navbar .flex {
    flex-direction: row;
  }
  nav.navbar ul {
    display: none;
  }
  nav.navbar button {
    border: 0;
  }
   /*For toggle button*/
  nav.navbar .hamburger {
    background-color: transparent;
    border: 0px;
    padding: 0;
    cursor: pointer;
    display: flex;
  }
  nav .hamburger .close {
    display: none;
  }
  nav .hamburger.show .open {
    display: none;
  }
  nav .hamburger.show .close {
    display: block;
  }
  
  nav ul.show {
    background-color: #2b272f;
    display: flex;
    flex-direction: column;
    position: fixed;
    /* align-items: center; */
    margin: 0;
    top: 120px;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-image: url("./images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% 38%;
    position: absolute;
  }
  nav.navbar ul li {
    margin: 32px 0;
    padding: 8px;
  }

  nav.navbar ul li:nth-child(4) {
    width: 90%;
  }
  nav.navbar ul a {
    color: white;
  }

  #violet-btn {
    color: white;
    border: 2px solid white;
    height: 56px;
    padding: 16px;
    margin: auto;
    width: 100%;
  }
  nav.navbar .flex div {
    align-items: flex-start;
    padding: 12px;
  }

  /*Moblie header styling*/

  header {
    padding-top: 0;
    position: relative;
  }
  header .container {
    padding: 0;
  }
  header::before {
    content: "";
    background-image: url("./images/bg-pattern-intro-left-mobile.svg");
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    z-index: 1;
  }
  header::after {
    content: "";
    background-image: url("./images/bg-pattern-intro-right-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    position: absolute;
    /* bottom: -47%; */
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  header h1 {
    width: 80%;
    margin: auto;
    font-size: 56px;
  }
  h1::before {
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    left: 50%;
    height: 1px;
    width: 200px;
    transform: translateX(-50%);
  }
  .main-img {
    margin-bottom: 0;
    width: 100%;
    margin-bottom: -6px;
  }
  .reverse-flex {
    flex-direction: column-reverse;
  }

  /*Moblie sections styling especially that violetbox styling*/

  section.container {
    width: 90%;
  }
  .bg-dark-voilet {
    background-image: url("./images/bg-pattern-how-we-work-mobile.svg");
    padding: 45px;
    background-image: url("./images/bg-pattern-how-we-work-mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 54% 100%;
  }
  .bg-dark-voilet h2 {
    width: 100%;
    margin-bottom: 24px;
  }

  /*Moblie Footer styling*/

  footer {
    background-image: url(./images/bg-pattern-footer-mobile.svg);
    background-size: 100% 14%;
  }

  footer ul.flex {
    flex-direction: row;
  }
}
